// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
@import "ui-variables";

.kd-help-view--logo {
  width: 150px;
  margin: 30px auto;
  display: block;
  svg .a {
    fill: @text-color;
  }
}

.kd-statusbar-icon {
  vertical-align: text-top;
  svg {
    width: 14px;
    height: 14px;
    path {
      fill: @text-color-subtle;
    }
  }
  &.good svg path {
    fill: @text-color-success;
  }
}

.kd-statusbar-tooltip.tooltip {
  .tooltip-inner {
    background: @inset-panel-background-color;
    text-align: left;
    color: @text-color;
    max-width: 600px;
    min-width: 250px;
    white-space: normal;
    pre {
      font-size: .9em;
      line-height: 1.3em;
      code {
        white-space: nowrap;
      }
    }
  }
  &.top .tooltip-arrow {
    border-top-color: @inset-panel-background-color;
  }
}
