// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
@import "ui-variables";

.kd-help-view--logo {
  width: 150px;
  margin: 30px auto;
  display: block;
  svg .a {
    fill: @text-color;
  }
}

status-bar .status-bar-right .kd-statusbar-icon {
  svg {
    margin-top: 8px;
    width: 14px;
    height: 14px;
    path {
      fill: @text-color-subtle;
      opacity: 1;
    }
  }
  &.good svg path {
    fill: @text-color-success;
  }

  .loading-message {
    display: none;
  }

  &.loading {
    svg path {
      animation: svg-color-loading 1s infinite;
    }

    .loading-message {
      display: inline-block;
      padding-left: 5px;
    }
  }

}


.kd-statusbar-tooltip.tooltip {
  .tooltip-inner {
    background: @inset-panel-background-color;
    text-align: left;
    color: @text-color;
    max-width: 600px;
    min-width: 250px;
    white-space: normal;
    pre {
      font-size: .9em;
      line-height: 1.3em;
      code {
        white-space: nowrap;
      }
    }
  }
  &.top .tooltip-arrow {
    border-top-color: @inset-panel-background-color;
  }
}

.machine-settings {
  max-height: 33vh;
  overflow: auto;
  .table {
    td, th {
      border-color: @tab-border-color;
      vertical-align: inherit;
    }
    tr {
      &.offline {
        color: @text-color-subtle;
        &:hover {
          color: @text-color;
        }
      }
      &.online,
      &.connected {
        td.icon:before {
          color: @text-color-success;
        }
      }
      &:hover {
        background: @background-color-highlight;
      }
    }
  }

  .heading-container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      flex: 1 1 auto;
    }
    button {
      flex: 0 0 auto;
    }
  }
}

.command-center {
  .icon-check {
    line-height: 1.5em;
  }
  .text {
    font-size: .9em;
    line-height: 1.4em;
    border: 1px solid @inset-panel-border-color;
  }
  .buttons {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    button {
      flex: 0 0 auto;
      margin-right: 10px;
    }
  }
}

.centered {
  text-align: center;
}

@keyframes button-loading {
  100% { background-position: -10px 0px; }
}

@keyframes svg-color-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
